footer.footer
	div.footer__container._container
		div.footer__grid
			div.footer__logo
				+justImg('/img/logo', 'jpg', 'logo', 'логотип компании')
			a.footer__phone._icon-phone(href="tel:+7 (999) 999-99-99") +7 (999) 999-99-99
			a.footer__mail._icon-mail(href="mailto:example@mail.ru") example@mail.ru
			div.footer__address Zembilli Ali Efendi, Mara Yolu No:38 D:40A, 70100 MERKEZ/Karaman



