// ._tabs-block {
// 	display: none;
// 	&._active {
// 		display: block;
// 	}
// }

body._lock {
	overflow: hidden;
}

._container {
	margin: 0 auto;
	@media (min-width: $md1+px) {
		max-width: $maxWidthContainer + px;
	}
	@include adaptiv-value-under('padding-left', 90, 10, $md1, $md4);
	@include adaptiv-value-under('padding-right', 90, 10, $md1, $md4);
}

._section {
	width: 100%;
	@include common-value('margin-top', 30);
	@include common-value('margin-bottom', 30);
}

._padding-for-header {
	@include adaptiv-value-under('padding-top', 88.41, 80, $md3, $minWidth);
}

._loading {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #{$TextDark + e6} url('../img/icons/loading.gif') center / 50px no-repeat;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
}

// ._visible {
// 	visibility: visible;
// 	opacity: 1;
// }

// ._background {
// 	position: absolute;
// 	top: calc(-100vw / 1904 * 276);
// 	right: -38.55%;
// 	max-width: 1444px;
// 	width: calc(100vw / 1904 * 1444);
// 	@media (min-width: $maxWidth+px) {
// 		top: -276px;
// 	}
// }

// .popup {
// 	transition: all 0.5s ease;
// 	overflow-y: scroll;
// 	opacity: 0;
// 	visibility: hidden;
// 	z-index: 10;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	background-color: rgba(0, 0, 0, 0.8);
// 	&._active {
// 		opacity: 1;
// 		visibility: visible;
// 		& .popup__body {
// 			transform: perspective(600px) rotateX(0) translateY(0);
// 		}
// 	}

// 	&__container {
// 		min-height: 100%;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 	}

// 	&__body {
// 		transition: transform 0.5s ease;
// 		position: relative;
// 		transform: perspective(600px) rotateX(90deg) translateY(-50%);
// 		max-width: 600px;
// 		width: 100%;
// 		background-color: $white;
// 		@include common-value('padding', 50);
// 		@include common-value('border-radius', 20);
// 	}

// 	&__title {
// 		font-size: 30/16 + em;
// 		font-weight: 600;
// 		@include common-value('margin-bottom', 20);
// 	}
// 	&__description {
// 		font-size: 18/16 + em;
// 		max-width: 450px;
// 		@include common-value('margin-bottom', 10);
// 	}
// 	&__close {
// 		position: absolute;
// 		top: 20px;
// 		right: 20px;
// 		@media (max-width: $md3+px) {
// 			top: 0;
// 			right: 0;
// 		}
// 		&::before,
// 		&::after {
// 			background-color: $bright;
// 		}
// 	}
// }

// .form {
// 	position: relative;
// 	display: flex;
// 	align-items: center;
// 	flex-wrap: wrap;
// 	max-height: 100%;
// 	&__input,
// 	&__textarea {
// 		font-size: 18/16 + em;
// 		&::placeholder {
// 			transition: all 0.3s ease;
// 		}
// 		&:focus::placeholder {
// 			transform: translateY(-100%);
// 			opacity: 0;
// 		}
// 	}
// 	&__input {
// 		flex-basis: 100%;
// 		@include common-value('margin-bottom', 10);
// 		@include common-value('padding', 10);
// 		@include common-value('padding-left', 1);
// 		border-bottom: 1px solid $TextDark;
// 		&._error {
// 			border-bottom-color: $bright;
// 		}
// 	}

// 	&__textarea {
// 		resize: vertical;
// 		min-width: 100%;
// 		min-height: 120px;
// 		padding: 9px 5px;
// 	}

// 	&__button {
// 		@include common-value('margin-top', 10);
// 		@include common-value('margin-bottom', 10);
// 		width: 238px;
// 		@media (max-width: $md3+px) {
// 			width: 100%;
// 		}
// 	}

// 	&__link {
// 		color: $TextLight;
// 		margin: 0 auto;
// 		text-shadow: 0 0 0.5px $TextLight;
// 		&:hover {
// 			color: $bright;
// 			&::before {
// 				width: 0;
// 				background-color: $bright;
// 			}
// 		}
// 		&::before {
// 			background-color: $TextLight;
// 			box-shadow: 0 0 0.5px 0 $TextLight;
// 		}
// 	}

// 	&__checkbox {
// 		display: none;
// 	}

// 	&__agreement {
// 		cursor: pointer;
// 		font-family: 'Roboto';
// 		font-size: 14/16 + em;
// 		font-style: normal;
// 		font-weight: 400;
// 		text-align: left;
// 		display: flex;
// 		@include common-value('margin-top', 20);
// 	}
// 	&__agreement-text {
// 		position: relative;
// 		@include common-value('top', 5);
// 	}
// }
