//Подключение шрифта
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url('../fonts/#{$font_name}/#{$file_name}.woff') format('woff'), url('../fonts/#{$font_name}/#{$file_name}.woff2') format('woff2');
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

//Адаптивное свойство
@mixin adaptiv-value($property, $startValue, $minValue, $startWidth, $endWidth) {
	#{$property}: $startValue + px;
	@media (max-width: #{$startWidth + 'px'}) {
		#{$property}: calc(#{$minValue + 'px'} + #{$startValue - $minValue} * ((100vw - #{$endWidth + 'px'}) / #{$startWidth - $endWidth}));
	}
	@media (max-width: #{$endWidth + 'px'}) {
		#{$property}: $minValue + px;
	}
}

//Адаптивное свойство только между двумя брейкпоинтами
@mixin adaptiv-value-between($property, $startValue, $minValue, $startWidth, $endWidth) {
	@media (max-width: #{$startWidth + 'px'}) and (min-width: #{$endWidth + 'px'}) {
		#{$property}: calc(#{$minValue + 'px'} + #{$startValue - $minValue} * ((100vw - #{$endWidth + 'px'}) / #{$startWidth - $endWidth}));
	}
}

//Адаптивное свойство между двумя брейкпоинтами и меньшим значением снизу
@mixin adaptiv-value-under($property, $startValue, $minValue, $startWidth, $endWidth) {
	@media (max-width: #{$startWidth + 'px'}) {
		#{$property}: calc(#{$minValue + 'px'} + #{$startValue - $minValue} * ((100vw - #{$endWidth + 'px'}) / #{$startWidth - $endWidth}));
	}
	@media (max-width: #{$endWidth + 'px'}) {
		#{$property}: $minValue + px;
	}
}

//Адаптивное свойство между двумя брейкпоинтами и большим значением сверху
@mixin adaptiv-value-on($property, $startValue, $minValue, $startWidth, $endWidth) {
	@media (min-width: #{$endWidth + 'px'}) {
		#{$property}: calc(#{$minValue + 'px'} + #{$startValue - $minValue} * ((100vw - #{$endWidth + 'px'}) / #{$startWidth - $endWidth}));
	}
	@media (min-width: #{$startWidth + 'px'}) {
		#{$property}: $startValue + px;
	}
}

//Адаптивное свойство для одинаковых пропорций
@mixin common-value($property, $value) {
	@include adaptiv-value($property, $value, $value * 0.8, $md1, $minWidth);
}
