section.catalog._section 
	div.catalog__container._container 
		h2.catalog__title._title Ресницы для наращивания
		div.catalog__grid 
			article.catalog__product-card.product-card  
				h3.product-card__title Ресницы Enigma, черные, 16 линий, отдельные длины				
				div.product-card__image 
						+imgLash('/img/products/lashes-enigma-black-16lines-simple','jpg','безупречные ресницы 16 линий от бренда Энигма, черного цвета, волосок к волоску','добавьте в корзину для заказа')
				div.product-card__text-relative-container
					p.product-card__text-absolute Однотонные, чёрные ресницы для наращивания на ленте
				div.product-card__bottom 
					div.product-card__prices 
						span.product-card__price 14000000 руб
						span.product-card__sale-price 12000000 руб
					button.product-card__button._button В корзину
			article.catalog__product-card.product-card  
				h3.product-card__title Ресницы Enigma, черные, 16 линий, отдельные длины				
				div.product-card__image 
						+imgLash('/img/products/lashes-enigma-black-16lines-simple','jpg','безупречные ресницы 16 линий от бренда Энигма, черного цвета, волосок к волоску','добавьте в корзину для заказа')
				div.product-card__text-relative-container
					p.product-card__text-absolute Однотонные, чёрные ресницы для наращивания на ленте Однотонные, чёрные ресницы для наращивания на ленте
				div.product-card__bottom 
					div.product-card__prices 
						span.product-card__price 1400 руб
						span.product-card__sale-price 12000000 руб
					button.product-card__button._button В корзину
			article.catalog__product-card.product-card  
				h3.product-card__title Ресницы Enigma, черные, 16 линий, отдельные длины Ресницы Enigma, черные, 16 линий, отдельные длины				
				div.product-card__image 
						+imgLash('/img/products/lashes-enigma-black-16lines-simple','jpg','безупречные ресницы 16 линий от бренда Энигма, черного цвета, волосок к волоску','добавьте в корзину для заказа')
				div.product-card__text-relative-container
					p.product-card__text-absolute Однотонные, чёрные ресницы для наращивания на ленте
				div.product-card__bottom 
					div.product-card__prices 
						span.product-card__price 14000000 руб
						span.product-card__sale-price 1200 руб
					button.product-card__button._button В корзину
			article.catalog__product-card.product-card  
				h3.product-card__title Ресницы Enigma, черные, 16 линий, отдельные длины				
				div.product-card__image 
						+imgLash('/img/products/lashes-enigma-black-16lines-simple','jpg','безупречные ресницы 16 линий от бренда Энигма, черного цвета, волосок к волоску','добавьте в корзину для заказа')
				div.product-card__text-relative-container
					p.product-card__text-absolute Однотонные, чёрные ресницы для наращивания на ленте
				div.product-card__bottom 
					div.product-card__prices 
						span.product-card__price 1400 руб
						span.product-card__sale-price 1200 руб
					button.product-card__button._button В корзину
			
