.photogallery {
	width: 100%;
	&__container {
	}

	&__title {
		font-size: 30/16 + em;
		font-weight: 600;
		@include common-value('margin-bottom', 40);
	}

	&__slider {
	}

	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		row-gap: 10px;
		&--big {
			justify-content: center;
		}
	}

	&__item {
		max-width: 100%;
		max-height: 45%;
		border-radius: 10px;
		overflow: hidden;
		&--big {
			max-height: 100%;
		}
		& img {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
	.swiper {
		overflow: visible;
	}

	.swiper-wrapper {
		align-items: center;
	}
	.swiper-pagination {
	}
}
