section.brands._section
  div.brands__container._container
    h2.brands__title._title Бренды
    .brands__grid
      article.brands__brand.brand
        h3.brand__name Enigma
        a.brand__link(href='/')
          +justImg('/img/brands/eg', 'jpg', 'eg', 'бренд eg')
      article.brands__brand.brand
        h3.brand__name Lash&Go
        a.brand__link(href='/')
          +justImg('/img/brands/lg', 'png', 'lg', 'бренд lg')
      article.brands__brand.brand
        h3.brand__name Be Perfect
        a.brand__link(href='/')
          +justImg('/img/brands/bp', 'jpeg', 'bp', 'бренд bp')
      article.brands__brand.brand
        h3.brand__name Lash&Go
        a.brand__link(href='/')
          +justImg('/img/brands/lg', 'png', 'lg', 'бренд lg')
      article.brands__brand.brand
        h3.brand__name Be Perfect
        a.brand__link(href='/')
          +justImg('/img/brands/bp', 'jpeg', 'bp', 'бренд bp')
      article.brands__brand.brand
        h3.brand__name Enigma
        a.brand__link(href='/')
          +justImg('/img/brands/eg', 'jpg', 'eg', 'бренд eg')