section.catalog 
	div.catalog__container._container 
		h2.catalog__title Ресницы для наращивания в ассортименте:
		div.catalog__grid 
			article.catalog__product-card.product-card 
				div.product-card__text-relative-container 
					div.product-card__text-absolute 
						h3.product-card__title Ресницы Enigma, черные, 16 линий, отдельные длины
						p.product-card__description Однотонные, чёрные ресницы для наращивания на ленте
				div.product-card__top 
					div.product-card__image 
						+imgLash('/img/products/lashes-enigma-black-16lines-simple','jpg','безупречные ресницы 16 линий от бренда Энигма, черного цвета, волосок к волоску','добавьте в корзину для заказа')
					div.product-card__variants-relative-container 
						div.product-card__variants 
							article.product-card__variant.variant 
								h4.variant__title Длина:
								p.variant__array 
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
				div.product-card__bottom 
					div.product-card__prices 
						span.product-card__old-price 14000000 руб
						span.product-card__price 12000000 руб
					button.product-card__button._button В корзину
			article.catalog__product-card.product-card 
				div.product-card__text-relative-container 
					div.product-card__text-absolute 
						h3.product-card__title Ресницы Enigma, черные, 16 линий, отдельные длины Ресницы Enigma, черные, 16 линий, отдельные длины Ресницы Enigma, черные, 16 линий, отдельные длины Ресницы Enigma, черные, 16 линий, отдельные длины
						p.product-card__description Однотонные, чёрные ресницы для наращивания на ленте
				div.product-card__top 
					div.product-card__image 
						+imgLash('/img/products/lashes-enigma-black-16lines-simple','jpg','безупречные ресницы 16 линий от бренда Энигма, черного цвета, волосок к волоску','добавьте в корзину для заказа')
					div.product-card__variants-relative-container 
						div.product-card__variants 
							article.product-card__variant.variant 
								h4.variant__title Изгиб:
								p.variant__array 
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
							article.product-card__variant.variant 
								h4.variant__title Длина:
								p.variant__array 
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
							article.product-card__variant.variant 
								h4.variant__title Толщина:
								p.variant__array 
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
				div.product-card__bottom 
					div.product-card__prices 
						span.product-card__old-price 1400 руб
						span.product-card__price 1200 руб
					button.product-card__button._button В корзину
			article.catalog__product-card.product-card 
				div.product-card__text-relative-container 
					div.product-card__text-absolute 
						h3.product-card__title Ресницы Enigma, черные, 16 линий, отдельные длины
						p.product-card__description Однотонные, чёрные ресницы для наращивания на ленте
				div.product-card__top 
					div.product-card__image 
						+imgLash('/img/products/lashes-enigma-black-16lines-simple','jpg','безупречные ресницы 16 линий от бренда Энигма, черного цвета, волосок к волоску','добавьте в корзину для заказа')
					div.product-card__variants-relative-container 
						div.product-card__variants 
							article.product-card__variant.variant 
								h4.variant__title Изгиб:
								p.variant__array 
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
							article.product-card__variant.variant 
								h4.variant__title Длина:
								p.variant__array 
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
							article.product-card__variant.variant 
								h4.variant__title Толщина:
								p.variant__array 
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
				div.product-card__bottom 
					div.product-card__prices 
						span.product-card__old-price 1400 руб
						span.product-card__price 1200 руб
					button.product-card__button._button В корзину
			article.catalog__product-card.product-card 
				div.product-card__text-relative-container 
					div.product-card__text-absolute 
						h3.product-card__title Ресницы Enigma, черные, 16 линий, отдельные длины
						p.product-card__description Однотонные, чёрные ресницы для наращивания на ленте Однотонные, чёрные ресницы для наращивания на ленте Однотонные, чёрные ресницы для наращивания на ленте Однотонные, чёрные ресницы для наращивания на ленте Однотонные, чёрные ресницы для наращивания на ленте
				div.product-card__top 
					div.product-card__image 
						+imgLash('/img/products/lashes-enigma-black-16lines-simple','jpg','безупречные ресницы 16 линий от бренда Энигма, черного цвета, волосок к волоску','добавьте в корзину для заказа')
					div.product-card__variants-relative-container 
						div.product-card__variants 
							article.product-card__variant.variant 
								h4.variant__title Изгиб:
								p.variant__array 
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
							article.product-card__variant.variant 
								h4.variant__title Длина:
								p.variant__array 
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
							article.product-card__variant.variant 
								h4.variant__title Толщина:
								p.variant__array 
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
				div.product-card__bottom 
					div.product-card__prices 
						span.product-card__old-price 14000000 руб
						span.product-card__price 12000000 руб
					button.product-card__button._button В корзину
			article.catalog__product-card.product-card 
				div.product-card__text-relative-container 
					div.product-card__text-absolute 
						h3.product-card__title Ресницы Enigma, черные, 16 линий, отдельные длины
						p.product-card__description Однотонные, чёрные ресницы для наращивания на ленте
				div.product-card__top 
					div.product-card__image 
						+imgLash('/img/products/lashes-enigma-black-16lines-simple','jpg','безупречные ресницы 16 линий от бренда Энигма, черного цвета, волосок к волоску','добавьте в корзину для заказа')
					div.product-card__variants-relative-container 
						div.product-card__variants 
							article.product-card__variant.variant 
								h4.variant__title Изгиб:
								p.variant__array 
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
							article.product-card__variant.variant 
								h4.variant__title Длина:
								p.variant__array 
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
							article.product-card__variant.variant 
								h4.variant__title Толщина:
								p.variant__array 
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
				div.product-card__bottom 
					div.product-card__prices 
						span.product-card__old-price 4 руб
						span.product-card__price 2 руб
					button.product-card__button._button В корзину
			article.catalog__product-card.product-card 
				div.product-card__text-relative-container 
					div.product-card__text-absolute 
						h3.product-card__title Ресницы Enigma, черные, 16 линий, отдельные длины
						p.product-card__description Однотонные, чёрные ресницы для наращивания на ленте
				div.product-card__top 
					div.product-card__image 
						+imgLash('/img/products/lashes-enigma-black-16lines-simple','jpg','безупречные ресницы 16 линий от бренда Энигма, черного цвета, волосок к волоску','добавьте в корзину для заказа')
					div.product-card__variants-relative-container 
						div.product-card__variants 
							article.product-card__variant.variant 
								h4.variant__title Изгиб:
								p.variant__array 
									span.variant__array-item C
									span.variant__array-item D
									span.variant__array-item L
							article.product-card__variant.variant 
								h4.variant__title Длина:
								p.variant__array 
									span.variant__array-item 5
									span.variant__array-item 6
									span.variant__array-item 7
							article.product-card__variant.variant 
								h4.variant__title Толщина:
								p.variant__array 
									span.variant__array-item 0.07
									span.variant__array-item 0.10
									span.variant__array-item 0.12
				div.product-card__bottom 
					div.product-card__prices 
						span.product-card__old-price 1400 руб
						span.product-card__price 1200 руб
					button.product-card__button._button В корзину
				

