section.card._section 
  .card__container._container
    h2.card__title._title Карточка товара – заголовок
    .card__body 
      .card__image
        +justImg('/img/products/lashes-enigma-black-16lines-simple','jpg','alt','купи')
      .card__right 
        .card__prices 
          span.card__price 1400 руб
          span.card__price.card__price--sale 1200 руб
        button.card__button._button В корзину 
